.expressive-code .frame.is-terminal .header::before {
    background-color: transparent;
    opacity: 100 !important;
    -webkit-mask-image: none;
    mask-image: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 60 16'%3E%3Ccircle cx='8' cy='8' r='8' fill='%23ff5f57'/%3E%3Ccircle cx='30' cy='8' r='8' fill='%23febc2e'/%3E%3Ccircle cx='52' cy='8' r='8' fill='%2328c840'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-size: contain;
}

.post-header-meta-right {
    display: flex;
    align-items: center;
    gap: 1rem;
    margin-left: auto;
    flex-wrap: wrap;
    justify-content: flex-end;
    row-gap: 0.15rem;
}

.read-time {
    color: var(--color-warning);
    background-color: rgba(114, 65, 18, 0.4);
    border: 1px solid var(--color-yellow-900);
    border-radius: 25px;
    padding: 0 0.5em;
}