@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

@import url('./base.css');
@import url('./navfoo.css');
@import url('./home/home.css');
@import url('./blog/blog.css');
@import url(./post/post.css);
@import url('./about/about.css');
@import url('./comps.css');
@import url('./layout.css');
@import url('./fonts.css');

@import url('./custom.css');